$gradient: linear-gradient(rgba(231, 128, 130, 0.9), rgba(238, 215, 137, 0.9));
$grenblue: #95e1d3;
$white: #ffffff;
$peach: #fce38a;
$darkpeach:#f38181;
$darkgrey: #333333;
$grey: #999999;
$yellow: #dce38a;
$after: #fde7e7;
$footer:#e5e5e5;
$middlegrey:#404040;
$mont:'Montserrat', sans-serif;
$kaus:'Kaushan Script', cursive;
$robot:'Roboto', sans-serif;

